/* Fonte principal */
$fonte: 'Roboto', sans-serif;

/* Cor do fundo */
$bg-color: #E4F1FF;
$bg-color-form: #AED2FF;

/* Cor da sombra */
$cor-da-sombra: #9400FF;

/* Cor do Fundo hover */
$bg-color-hover-um: #008147a6;
$bg-color-hover-dois: #958867;

/* Cor da fonte */
$cor-principal: #000000;

/* Cor dos botões */
$cor-botao-um: #008148;
$cor-botao-dois: #8a6d29;

/* Cor aprovado , reprovado, recuperação */
$cor-aprovado: #23a323;
$cor-reprovado: #a82e2e;
$cor-recuperacao: rgba(255, 166, 0, 0.578);