/* Fonte principal */
$fonte: 'Roboto', sans-serif;

/* Cor do fundo */
$bg-color: #d8d7ca;
$bg-color-form: #6f6d56;

/* Cor do Fundo hover */
$bg-color-hover-um: #585898;
$bg-color-hover-dois: #958867;

/* Cor da fonte */
$cor-principal: #000000;

/* Cor dos botões */
$cor-botao-um: #393992;
$cor-botao-dois: #8a6d29;

/* Cor aprovado , reprovado, recuperação */
$cor-aprovado: #23a323;
$cor-reprovado: #a82e2e;
$cor-recuperacao: rgba(255, 166, 0, 0.578);